nav .nav a{
    border-bottom: solid 1px transparent;
}

nav .nav a:hover{
    color: #f97316;
    transition: 0.3s;
}

nav .nav a.active{
    color: #f97316;
    
}

.form {
    border-radius: 5px 5px 0 0;
}

.edit-form{
    background-color: rgba(128, 128, 128, 0.582);
}

body{
    background-image: url('../../img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
}


